[submodule "Submodules"]
	path = Submodules
	url = https://github.com/carlbrown/PDKeychainBindingsController
[submodule "Submodules/PDKeychainBindingsController"]
	path = Submodules/PDKeychainBindingsController
	url = https://github.com/carlbrown/PDKeychainBindingsController
[submodule "Submodules/evernote-sdk-ios"]
	path = Submodules/evernote-sdk-ios
	url = https://github.com/evernote/evernote-sdk-ios
[submodule "Submodules/MBProgressHUD"]
	path = Submodules/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD
